<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>619013896926-plnlquop9c3rorcmhutlpeg703cmu5h8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619013896926-plnlquop9c3rorcmhutlpeg703cmu5h8</string>
	<key>API_KEY</key>
	<string>AIzaSyDf2mSgfs3VwSunCK7wxikb1E9g7tdQsz4</string>
	<key>GCM_SENDER_ID</key>
	<string>619013896926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cryptowallet</string>
	<key>PROJECT_ID</key>
	<string>cryptowallet-c5712</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptowallet-c5712.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619013896926:ios:7d09c740f6eade4d5d204f</string>
</dict>
</plist>